# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# virtual env
/venv
/.venv

# html test coverage
htmlcov/

# coverage files
.coverage

# pycharm files
.idea/

